.gradient-text {
    /* Fallback: Set a background color. */
    background-color: #CA4246;
    
    /* Create the gradient. */
    /* if the colors end and start at the same point, 
       border between colors are clearly made */
    background-image: linear-gradient(
          45deg,
          #CA4246 16.666%, 
          #E16541 16.666%, 
          #E16541 33.333%, 
          #F18F43 33.333%, 
          #F18F43 50%, 
          #8B9862 50%, 
          #8B9862 66.666%, 
          #476098 66.666%, 
          #476098 83.333%, 
          #A7489B 83.333%);
    
    /* Set the background size and repeat properties. */
    /*background-size: 100%;
    background-repeat: repeat;
  */
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. 
       This also disables the background color outside of the text. */
    -webkit-background-clip: text;
    /* By setting the text-fill-color transparent, text will have same color with background. */
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
      /* This animates it on page load and when hovering out. */
      animation: rainbow-text-simple-animation-rev 0.50s ease forwards;
  
  }
  
  .gradient-text:hover{
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }
  
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-simple-animation-rev {
      0% {
          background-size: 500%;
      }
      40% {
          background-size: 300%;
      }
      100% {
          background-size: 100%;
      }
  }
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-simple-animation {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 300%;
      }
      100% {
          background-size: 500%;
      }
  }

  
  
  /* Style the rest of the page. */
  body {
    background-color: #fdf1f0;
  }
  
  header {
    margin-top: 1em;
    margin-top: calc(50vh - 3em);
  }
  
  h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: normal;
    font-size: 6em;
    text-align: center;
    margin-bottom: 0;
    margin-bottom: -0.25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 605px;
  }

  .simple {
    animation: color-change 1s infinite;
  }
  @keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }

  .awesome {
    font-family: futura;
    font-style: italic;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #313131;
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    -webkit-animation: colorchange 5s infinite alternate;
  }
  
  @-webkit-keyframes colorchange {
    0% {
      color: blue;
    }
    10% {
      color: #8e44ad;
    }
    20% {
      color: #1abc9c;
    }
    30% {
      color: #d35400;
    }
    40% {
      color: red;
    }
    50% {
      color: #34495e;
    }
    60% {
      color: blue;
    }
    70% {
      color: #2980b9;
    }
    80% {
      color: #f1c40f;
    }
    90% {
      color: #2980b9;
    }
    100% {
      color: pink;
    }
  }

  
.christmas{
  text-align: center;
  font-size: 30px;
  
  background: repeating-linear-gradient(
                  45deg,
                  #b1cbbb,
                  #b1cbbb 20px, 
                  #eea29a 20px, 
                  #eea29a 40px, 
                  #c94c4c 40px, 
                  #c94c4c 60px, 
                  #8d1414 60px,
                  #8d1414 80px,
                  #8B9862 80px,
                  #8B9862 100px 
                  );
  background-size:56px 56px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  animation: slide 20s infinite linear forwards;
  -webkit-animation: slide 20s infinite linear forwards;}
  @keyframes slide {
      0%{
          background-position:0%;
      }
      100% {
          background-position:100%;
      }
  }
  @-webkit-keyframes slide {
      0%{
          background-position:0%;
      }
      100% {
          background-position:100%;
      }
  }